<app-menu></app-menu>
<div class="container">
    <div class="row">
        <mat-toolbar color="primary">
            <span>Crud Libro</span>
        </mat-toolbar>
    </div>
    <div class="row">
        <mat-form-field class="col-md-4">
            <mat-label>Título del libro</mat-label>
            <input matInput [(ngModel)]="filtro">
        </mat-form-field>

        <button (click)="refreshTable()" mat-raised-button type="button" color="primary"
            style="width: 150px; margin-right: 3%">Filtrar</button>
        <button (click)="openDialogRegistrar()" mat-raised-button type="button" color="primary"
            style="width: 150px;">Registrar</button>
    </div>
    <div class="mat-elevation-z8" >
        <table mat-table  [dataSource]="dataSource">
            <ng-container matColumnDef="idLibro">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.idLibro }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="titulo">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.titulo}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="publicacion">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Fecha de Publicación</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.publicacion}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="categoria">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
                <mat-cell *matCellDef="let aux">{{ aux.categoria.descripcion}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="imagen">
                <mat-header-cell mat-header-cell *matHeaderCellDef>Imagen</mat-header-cell>
                
                <mat-cell *matCellDef="let aux"><img src="{{aux.imagen}}" class="img-fluid" style="width: 50%; padding: 3%;"></mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <mat-header-cell mat-header-cell *matHeaderCellDef>&nbsp; Acciones</mat-header-cell>
                <mat-cell *matCellDef="let aux; let i=index;">

                    <button mat-icon-button color="accent" (click)="openDialogActualizar(aux)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" (click)="delete(aux)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
        </table>
        <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>

    </div>

</div>