<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Manhuaw</a>
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarNav" 
          aria-controls="navbarNav" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      
      <!-- Menú de Inicio de Sesión y Cierre de Sesión -->
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open"></i> Cerrar Sesión</a>
      </li>

      <!-- Menú CRUD -->
      <li class="nav-item dropdown" *ngIf="isLogged && opcCRUD.length > 0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCRUD" role="button" data-toggle="dropdown" aria-expanded="false">
          Gestión de Entidades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownCRUD">
          <a class="dropdown-item" *ngFor="let opcion of opcCRUD" [routerLink]="['/' + opcion.ruta]">{{ opcion.descripcion }}</a>
        </div>
      </li>

      <!-- Menú Reportes -->
      <li class="nav-item dropdown" *ngIf="isLogged && opcReportes.length > 0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReportes" role="button" data-toggle="dropdown" aria-expanded="false">
          Venta / Reserva
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownReportes">
          <a class="dropdown-item" *ngFor="let opcion of opcReportes" [routerLink]="['/' + opcion.ruta]">{{ opcion.descripcion }}</a>
        </div>
      </li>

      <!-- Menú Transacciones -->
      <li class="nav-item dropdown" *ngIf="isLogged && opcTransacciones.length > 0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTransacciones" role="button" data-toggle="dropdown" aria-expanded="false">
          Carrito de Compras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownTransacciones">
          <a class="dropdown-item" *ngFor="let opcion of opcTransacciones" [routerLink]="['/' + opcion.ruta]">{{ opcion.descripcion }}</a>
        </div>
      </li>

      <!-- Menú Consulta Clientes -->
      <li class="nav-item dropdown" *ngIf="isLogged && opcTransacciones.length > 0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTransacciones" role="button" data-toggle="dropdown" aria-expanded="false">
          Consulta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownTransacciones">
          <a class="dropdown-item" *ngFor="let opcion of opcConsultas" [routerLink]="['/' + opcion.ruta]">{{ opcion.descripcion }}</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
