.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 250px;
}

.container>* {
    width: 100%;
}

.form {
    display: flex;
    padding-top: 6px;
}

.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}
.full-width {
    width: 10%;
    margin: 0 auto;
  }

.div-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mat-form-field{
    width: 10%;
    height: auto;
}
.mat-label{
    width: 10%;
    height: auto;
}
.mat-hint{
    width: 10%;
    height: auto; 
}
.span{
    width: 10%;
    height: auto; 
}