<div class="container">
    <form [formGroup]="formRegistrar">
        <div class="mat-dialog-content">
            <div class="row">
                <mat-toolbar color="primary">
                    <span>Editar Libro Reserva</span>
                </mat-toolbar>
            </div>

            <div class="row" style="margin-top: 3%">
                <mat-form-field class="col-md-11">
                    <mat-label>Categoría</mat-label>
                    <mat-select [(ngModel)]="libroReserva.libro!.categoria!.idCategoria" (selectionChange)="listaLibros()"
                        formControlName="validaCategoria" >
                        <mat-option value="-1"> [Seleccione] </mat-option>
                        <mat-option *ngFor="let x of lstCategoria" [value]="x.idCategoria">
                            {{x.descripcion}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaCategoria.touched">
                        <span *ngIf="formRegistrar.controls.validaCategoria.hasError('min')">
                            La categoría es requerida
                        </span>
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="row" style="margin-top: 3%">
                <mat-form-field class="col-md-11">
                    <mat-label>Libro</mat-label>
                    <mat-select [(ngModel)]="libroReserva.libro!.idLibro"
                        formControlName="validaLibro" >
                        <mat-option value="-1"> [Seleccione] </mat-option>
                        <mat-option *ngFor="let x of lstLibro" [value]="x.idLibro">
                            {{x.titulo}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaLibro.touched">
                        <span *ngIf="formRegistrar.controls.validaLibro.hasError('min')">
                            El libro es requerido
                        </span>
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="row" style="margin-top: 3%">
                <mat-form-field class="col-md-11">
                    <mat-label>Stock</mat-label>
                    <input matInput [(ngModel)]="libroReserva.stock" formControlName="validaStock" />
                    <mat-hint style="color: red" *ngIf="formRegistrar.controls.validaStock.touched">
                        <span *ngIf="formRegistrar.controls.validaStock.hasError('required')">
                            El stock es requerido
                        </span>
                        <span *ngIf="formRegistrar.controls.validaStock.hasError('max')">
                            El stock máximo es 3
                        </span>
                    </mat-hint>
                </mat-form-field>
            </div>

            <div style="text-align: center; margin-top: 15px;">

                <button mat-raised-button type="submit" color="primary" [disabled]="formRegistrar.invalid"
                    [mat-dialog-close]="1" (click)="actualiza()"
                    style="margin-right: 10px; margin-bottom: 10px;">Registrar
                </button>
                <button mat-button type="submit" (click)="salir()" [mat-dialog-close]="2"
                    style="margin-left: 10px; margin-bottom: 10px;">Salir
                </button>

            </div>
        </div>
    </form>
</div>